@import url('https://fonts.googleapis.com/css?family=Fira+Code:wght@300..700&display=swap');

*{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Fira Code', sans-serif;
    
    height: 100vh;
    
    margin: 0;
    background-color: #eafbff;
    background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #c71414 50%, #c71414 100%);
    color: black;
    scroll-behavior: smooth;
}
.Erkanat {
    text-align: center;
    color: #b8b8dc;
    margin: 0px;
    padding: 20px 10px 5px 0px;
    background-color: #545454;
}


.clock {
    display: flex;
    justify-content: center;
    color: #f6c620;
    font-size: 25px;
    font-family: Orbitron;
    letter-spacing: 5px;
    background-color: #545454;
    padding-bottom: 15px


}
panel{
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    font-size: 1rem;
}

nav{
    background-color: white;
    padding: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: width 0.6s linear;
}

nav.active{
    width: 350px;

}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}

nav.active ul{
    width: 100%;
}

nav ul li{
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li{
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul a{
    position: relative;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

.icon{
    background-color: white;
    border:0;
    cursor: pointer;
    padding : 0;
    position: relative;
    height: 30px;
    width: 30px;

}

.icon:focus{
    outline: none;
}

.icon .line{
    background-color: #5290f9;
    height: 2px;
    position: absolute;
    width: 20px;
    top: 10px; 
    left: 5px;
    transition: transform 0.6s linear;
}

.icon .line2{
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1{
    transform: rotate(-765deg) translateY(5.5px)
}

nav.active .icon .line2{
    transform: rotate(765deg) translateY(-5.5px)
}




p2{
    color: gold;
}


.items{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    margin:0;
    padding:0;
    position:relative;
    bottom: -10px;
}

.item img:hover{
    transform: scale(1.04);
}

.item h4{
    padding: 25px 10px 10px;
    margin:0;
    text-align: center;
}

.item button{
    padding: 15px 30px;
    border: none;
    outline: none;
    background-color: darkred;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}

.item button:hover{
    transform: scale(1.08);
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    grid-template-columns: repeat(3, 1fr);
  
  }
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
  }
  
  
 .container {
    margin:0;
    padding-top: 0;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 10px;
    background-color:#eaeaf5;
  }
  
  
.title {
    color: red;
  }
  
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
.button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
@media screen and (max-width: 1000px){
    .items{
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 768px){
    .items{
        grid-template-columns: repeat(1, 1fr);

    }
}

@media screen and (max-width: 1000px){
    .clock{
        grid-template-columns: repeat(1, 1fr);

    }
}



figure{
    text-align:center;
}
